/* 1024px */
@media (min-width: 1024px) {
    body {
        width: 100%;
        margin: 0;
        background-color: #f4f6f3;

    }

    header {
        padding: 2%;
        background-color: #fcfefb;
    }
    
    .header {
        width: 100%;
        background: url(../img/plants-bg.jpeg) no-repeat center bottom;
        background-size: cover;
        height: 80vh;
        position: relative;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        gap:5%;
        padding: 15px;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 25px;
        text-transform: uppercase;
        padding: 30px 15px;
        color:#7e837d;
    }
    
    li:last-of-type{
        border: 3px solid #7e837d
    }
    
}

/* 740px à 1024px */
@media (min-width: 740px) and (max-width: 1023px) {
    body {
        width: 100%;
        margin: 0;
        background-color: #f4f6f3;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    .header {
        width: 100%;
        background: url(../img/plants-bg.jpeg) no-repeat center bottom;
        background-size: 100%;
        height: 80vh;
        position: relative;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap:5%;
        padding: 15px;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 25px;
        text-transform: uppercase;
        padding: 30px 15px;
        color:#7e837d;
    }
    
    .title {
        position:absolute;
        left: calc(40% - 5vw);
        top: calc(50% - 5vh);
    }
    
    .title h1 {
        color:#494e48;
        font-size: 45px;
        text-transform: uppercase;
    }
    
    .title h4 {
        text-align: center;
        text-transform: uppercase;
        color:#494e48;
        position: relative;
        margin-top: 15px;
    }
    
    /* SECTION */
    
    .contenu{
        margin: 150px 0px;
    }
    
    .contenu h3 {
        text-align: center;
        text-transform: uppercase;
        color:#494e48;
        position: relative;
    }
    
    .contenu h3::after {
        content: '';
        display: block;
        position: absolute;
        top: 50px;
        left: calc(50% - 15px);
        width: 40px;
        height: 5px;
        background-color: #84948a;
    }
    
    .contenairCard{
        display: flex;
        flex-direction: column;
        gap:150px;
        justify-content: center;
        align-items: center;
        margin-top:55px;
    
    }
    
    .card {
        width:70%;
    }
    
    .card p{
        font-weight: bold;
        text-align: center;
        padding: 65px 10px;
        position: relative;
        
    }

    
    .contenudg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .gauche {
        background: url(../img/right-bg.jpeg) no-repeat;
        background-size: 100%;
        height: 50vh;
        width:100%;
    }
    
    .droite {
        width:100%;
        background-color: #fdfdfd;
        height: 40vh;
    }
    
    .contenudg h3 {
 
        margin-top: 0px;
    }

    
    .contenudg p {
        padding: 50px;
        text-align: justify;
     
    }

    
    .contenu input {
        background-color: #f1f3f0;
        border: none;
        height: 50px;
        width:70%;
    }
      
}


/* 320px à 740px */
@media (min-width: 320px) and (max-width: 740px) {
    body {
        width: 100%;
        margin: 0;
        background-color: #f4f6f3;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    .header {
        width: 100%;
        background: url(../img/plants-bg.jpeg) no-repeat center bottom;
        background-size: 100%;
        height: 80vh;
        position: relative;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap:5%;
        padding: 15px;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 25px;
        text-transform: uppercase;
        padding: 30px 15px;
        color:#7e837d;
    }
    
    .title {
        position:absolute;
        left: calc(30% - 5vw);
        top: calc(50% - 5vh);
    }
    
    .title h1 {
        color:#494e48;
        font-size: 45px;
        text-transform: uppercase;
    }
    
    .title h4 {
        text-align: center;
        text-transform: uppercase;
        color:#494e48;
        position: relative;
        margin-top: 15px;
    }
    
    /* SECTION */
    
    .contenu{
        margin: 150px 0px;
    }
    
    .contenu h3 {
        text-align: center;
        text-transform: uppercase;
        color:#494e48;
        position: relative;
    }
    
    .contenu h3::after {
        content: '';
        display: block;
        position: absolute;
        top: 50px;
        left: calc(50% - 15px);
        width: 40px;
        height: 5px;
        background-color: #84948a;
    }
    
    .contenairCard{
        display: flex;
        flex-direction: column;
        gap:150px;
        justify-content: center;
        align-items: center;
        margin-top:55px;
    
    }
    
    .card {
        width:70%;
    }
    
    .card p{
        font-weight: bold;
        text-align: center;
        padding: 65px 10px;
        position: relative;
        
    }

    
    .contenudg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .gauche {
        background: url(../img/right-bg.jpeg) no-repeat;
        background-size: 100%;
        height: 50vh;
        width:100%;
    }
    
    .droite {
        width:100%;
        background-color: #fdfdfd;
        height: 50vh;
    }
    
    .contenudg h3 {
 
        margin-top: 0px;
    }

    
    .contenudg p {
        padding: 50px;
        text-align: justify;
     
    }

    
    .contenu input {
        background-color: #f1f3f0;
        border: none;
        height: 50px;
        width:70%;
    }
      
    
}