body {
    width: 100%;
    margin: 0;
    background-color: #f4f6f3;
    font-family: sans-serif;

}

*{
    margin: 0;
    padding: 0;
}
header {
    padding: 2%;
    background-color: #fcfefb;
}

.header {
    width: 100%;
    background: url(../img/plants-bg.jpeg) no-repeat center bottom;
    background-size: cover;
    height: 80vh;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap:5%;
    padding: 15px;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    padding: 30px 15px;
    color:#7e837d;
}

li:last-of-type{
    border: 3px solid #7e837d
}

.title {
    position:absolute;
    left: calc(50% - 5vw);
    top: calc(50% - 5vh);
}

.title h1 {
    color:#494e48;
    font-size: 65px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-family: 'CHEDROS', sans-serif;
}

.title h4 {
    text-align: center;
    text-transform: uppercase;
    color:#494e48;
    position: relative;
    margin-top: 15px;
    letter-spacing: 5px;
    font-family: 'CHEDROS', sans-serif;
}

.title h4::after {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    left: 100px;
    width: 40px;
    height: 5px;
    background-color: #84948a;
}

/* SECTION */

.contenu{
    margin: 150px 0px;
}

.contenu h3 {
    text-align: center;
    text-transform: uppercase;
    color:#494e48;
    position: relative;
}

.contenu h3::after {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    left: calc(50% - 15px);
    width: 40px;
    height: 5px;
    background-color: #84948a;
}

.contenairCard{
    display: flex;
    gap:5%;
    justify-content: center;
    margin-top:55px;

}

.card {
    background-color: #fdfdfd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width:20%;
}

.card img {
    width: 100%;
}

.card p{
    font-weight: bold;
    text-align: center;
    padding: 65px 10px;
    position: relative;

}

.card p::before{
    content:'';
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    left: calc(50% - 15px);
    bottom: 125px;
    background-color: #84948a;
}

/* ABOUT */

.contenudg{
    display: flex;
    align-items: center;
}

.gauche {
    background: url(../img/right-bg.jpeg) no-repeat;
    background-size: cover;
    height: 80vh;
    width:50%;
}

.droite {
    width:50%;
    background-color: #fdfdfd;
    height: 80vh;
}

.contenudg h3 {
    text-align: center;
    text-transform: uppercase;
    color:#494e48;
    position: relative;
    margin-top: 75px;
}

.contenudg h3::after {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    left: calc(50% - 15px);
    width: 40px;
    height: 5px;
    background-color: #84948a;
}

.contenudg p {
    padding: 50px;
    text-align: justify;

}

/* SECTION CONTACT */

section:nth-of-type(3){
    background-color: #e1e6e0;
    height: 500px;
}

section:nth-of-type(3) .contenu{
    margin:0;
    width: 100%;
}

.contenu h4{
    padding-top:150px;
    text-align: center;
    text-transform: uppercase;
    color:#494e48;
    font-size: 25px;
}

.contenu p {
    text-align: center;
    font-weight: bold;
    margin: 25px 0px;
}

.contenu input {
    background-color: #f1f3f0;
    border: none;
    height: 50px;
    width:20%;
}

p a {
    border: 3px solid #7e837d;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 35px;
    color:#8c918b;

}

/* FOOTER */

footer {
    background-color: #fdfdfd;
    width: 100%;
    height: 20vh;
}

footer .contenu{
    display: flex;
    justify-content: space-around;
    margin:0;
}

.menuftr{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 12px;
    gap:15px;
}


.icons {
    display: flex;
    gap:25px;
    padding:30px;
}

.icons i {
    background-color: black;
    color:white;
    padding:5px;
    border-radius: 50%;
}
