body {
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background: url(../img/hero-bg.jpeg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.titre {
    position: absolute;
    left: calc(50% - 15vw);
    top: calc(50% - 15vh);
    text-align: center;
}

.titre h1 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 15px;
    color: #353535;
}

.titre h1::after {
    content: 'DAYS';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 15px;
    color: #a1a9b0;
}

.titre p {
    color: #a1a9b0;
    margin-top: 15px;
    text-align: center;
}

.button {
    margin: 75px auto;
    width: 40%;
    color: white;
    background-color: #0ac9b4;
    border-bottom: 3px solid #249083;
    padding: 20px 35px;
    border-radius: 5px;
    text-transform: uppercase;
}

/* SECTIONS */

/* SECTIONS GENERALES */

.contenu {
    padding: 55px 0px;
    width:100%;
}

.contenu h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    background: url('../img/h1-bg.png') no-repeat center bottom;
    padding-bottom: 30px;
    font-weight: bold;
}

.contenu p {
    font-size: 15px;
    width: 60%;
    color:#a1a9b0;
    margin: 55px auto;
    text-align: center;
    line-height: 2;
    font-weight: lighter;
}


/* SECTIONS 2 */

section:nth-of-type(2) {
    width: 100%;
    background-color: #fafbff;
}

/* SECTIONS 3 */

.cardcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 3%;
    gap:2%;
}

.card {
    text-align: center;
    width: 25%;
}

.card p {
    width: 100%;
}

.card h4 {
    text-transform: uppercase;
    margin: 10% 0px;
    position: relative;
}

.card h4::after {
   content: "";
   display: block;
   position: absolute;
   top:55px;
   left: 47%;
   background-color: #0ac9b4;
   height: 5px;
   width: 35px;
}

.cardcontainer i {
    background-color: #0ac9b4;
    color:white;
    font-size: 35px;
    border-radius: 50%;
    padding: 10%;
}

/* SECTION 4 */

section:nth-of-type(4) .contenu{
    width: 100%;
    display: flex;
}


.gauche {
    background: url(../img/iphone-bg.png) no-repeat center center; 
    background-position: 200px 10px; height: 100%;
    height: 50vh;
}

.droite{
    width:50%;
}